@font-face {
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-display: swap; 
  src:
    local("Open Sans"),
    url("/fonts/OpenSans-VariableFont.woff2") format("woff2"),
    url("/fonts/OpenSans-VariableFont.ttf") format("truetype");
}