@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-Light.ttf");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

body {
    font-family: "font";
    font-weight: 300;
    font-display: swap;
}
