@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "font";
    src: url("/fonts/OpenSans/OpenSans-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "font";
    font-weight: 300;
}
