/* all the timeline stuff is ripped straight from https://sydjs.com/meetups  */

.timeline {
    * {
        box-sizing: border-box;
    }

    .panel {
        display: block;
        border: 1px solid #ccc;
        border-radius: 15px;
        padding: 15px;
        margin-bottom: 15px;

        &:hover {
            border: 1px solid #d8d8d8;
        }
        
        h4 {
            padding: 0;
            margin: 0;
        }
        p {
            margin-bottom: 0;
        }

		.event-icons {
			margin-left: 0.5em;
		}

		.event-subtitle {
			display: flex;
		}

		.panel-ctlm {
			text-align: right;
		}
    }

	.panel--mini .panel-ctlm {
		flex-grow: 1;
	}

    .panel--bold {
        border: 4px solid #999;

        &:hover {
            border: 4px solid #a8a8a8;
        }

		.panel-ctlm {
			display: block;
            margin-top: 10px;
		}
    }

    @media only screen and (min-width: $breakpoint-small) { 
        .line {
            padding-bottom: 1em;
            padding-top: 1em;
            position: relative;

            &::after {
                clear: both;
            }

            &::before, &::after {
                content: " ";
                display: table;
            }
        }

        .timeline-path {
            bottom: 0;
            left: 50%;
            background-color: #ccc;
            margin-left: -0.125em;
            position: absolute;
            top: 0;
            width: 0.25em;
            z-index: 1;

            &::before {
                width: 1em;
                height: 1em;
                background-color: #ccc;
                border-radius: 50%;
                content: "";
                left: 50%;
                top: -1em;
                margin-left: -0.5em;
                position: absolute;
                z-index: 3;
            }

            &::after {
                width: 1em;
                height: 1em;
                background-color: #ccc;
                border-radius: 50%;
                content: "";
                left: 50%;
                bottom: -1em;
                margin-left: -0.5em;
                position: absolute;
                z-index: 3;
            }
        }

        .timeline-item {
            margin-top: 3em;
            position: relative;
            width: 50%;
        }

        .timeline-item-node {
            width: 10%;
            height: 1px;
            background-color: #ccc;
            position: absolute;
            top: 25px;
        }

        .timeline-item-node::after {
            box-shadow: 0 0 0 4px #fff;
            width: 1em;
            height: 1em;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            content: "";
            margin-top: -0.5em;
            position: absolute;
            z-index: 3;
        }

        .timeline-item-inner {
            background-color: white;
            border-radius: .1em;
            color: #555;
            display: block;
            padding: 0.75em;
        }

        .timeline-item-inner:hover, .timeline-item-inner:focus {
            text-decoration: none;
        }

        .timeline-item--offset {
            float: right;
            height: 6em;
            width: 40%;
        }

        .timeline-item--odd {
            clear: left;
            float: left;
            padding-right: 5%;
        }

        .timeline-item--odd .timeline-item-node {
            right: 0;
        }

        .timeline-item--odd .timeline-item-node::after {
            margin-right: -0.5em;
            right: 0;
        }

        .timeline-item--even {
            clear: right;
            float: right;
            padding-left: 5%;
        }

        .timeline-item--even .timeline-item-node {
            left: 0;
        }

        .timeline-item--even .timeline-item-node::after {
            margin-left: -0.5em;
        }

		.panel--mini { width: 75%; }
		.timeline-item--odd .panel--mini { margin-left: 25%; }
    }
}
