@import "fonts.scss", "theme.scss", "screens.scss";

@mixin headings() {
    h1,
    h2,
    h3,
    h4,
    h5 {
        @content;
    }
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.7em;
}
h3 {
    font-size: 1.5em;
}
h4 {
    font-size: 1.3em;
}

@include headings {
    margin-top: 5px;
    margin-bottom: 5px;
}

@mixin fullwidth-nopadding {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

@mixin grid-bar {
    display: grid;
    grid-auto-flow: row;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

@mixin hover-fixed {
    position: fixed;
    width: 100%;
    margin: 0;
}

@mixin light-title {
    font-weight: 200;
    text-decoration: underline;
}

@mixin grid-scroller() {
    display: grid;

    @include set-with-screen(
        grid-template-columns,
        repeat(3, 1fr),
        repeat(2, 1fr),
        repeat(1, 1fr)
    );
}

@mixin grid-scroller__card() {
    width: 1fr;
    height: 1fr;
    background-color: $bg-1;
    border-radius: $std-rounding;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    &:hover {
        @include headings {
            text-decoration: underline;
        }
        background-color: $bg-2;
    }
}

body,
html {
    @include libre-franklin;
    @include fullwidth-nopadding;
    font-weight: 450;
    background-color: $bg-0;
    font-size: $text-size;
    height: 100%;
}

a {
    color: $text;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

hr {
    margin-top: $hr-spacing;
    margin-bottom: $hr-spacing;
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color: $text;
}

.spacer {
    width: 100%;
    height: $pg-bottom-space;
}

.content-block {
    padding: $section-padding;
    width: 100%;
    height: 100%;
}
