@import "theme.scss";

.officer-card {
    padding: 0px;
    height: $officer-card-height;

    margin: 10px;

    border-radius: $std-rounding;

    overflow: hidden;

    &> * {
        margin: 0px;

        display: inline-block;

        width: 100%;
        height: 100%;
    }

    a {
        color: unset;
    }
}
