@import "theme.scss", "screens.scss";

.officer-card {
    padding: 0px;
    height: $officer-card-height;
    border-radius: $std-rounding;

    width: 100%;

    justify-self: center;
    justify-content: center;
    display: grid;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.contact-card-list {
    gap: 10px;

    @include set-with-screen(
        grid-template-columns,
        repeat(2, 1fr),
        repeat(1, 1fr),
        repeat(1, 1fr)
    );
}
