@import "theme.scss", "screens.scss";

.officer-card {
    padding: 0px;
    height: $officer-card-height;

    margin: 10px;
    border-radius: $std-rounding;
    overflow: hidden;

    justify-self: center;

    &> * {
        margin: 0px;

        display: inline-block;

        height: 100%;
    }

    a {
        color: unset;
    }
}

.contact-card-list {
    @include set-with-screen(
        grid-template-columns,
        repeat(2, 1fr),
        repeat(1, 1fr),
        repeat(1, 1fr)
    );
}
