@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@mixin libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
}
