@font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-VariableFont_wght.ttf") format('truetype');
}

@mixin libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-style: normal;
}
