@import "theme.scss", "screens.scss";

@mixin home-grid-item {
    width: 1fr;
    min-height: 120px;

    padding: $home-grid-padding;

    .home-grid-card {
        border-radius: $std-rounding;
        width: 100%;
        height: 100%;
        object-fit: cover;
        div {
            padding: $home-grid-padding;
        }
    }
}

.newsletter-grid {
    display: grid;
    width: 100%;
    @include set-with-screen(grid-template-columns, 1fr 2fr, 1fr 1fr, 1fr);
}

.tinker-header {
    text-align: center;
}

.tinker-grid {
    display: grid;
    width: 100%;
    @include set-with-screen(
        grid-template-areas,
        "tech-text workshop-text room-text" "tech-img workshop-img room-img",
        "tech-text" "tech-img" "workshop-text" "workshop-img" "room-text"
            "room-img",
        "tech-text" "tech-img" "workshop-text" "workshop-img" "room-text"
            "room-img"
    );
}

.room-call {
    text-align: center;
}

.overlay-all {
    * {
        position: absolute;
        text-align: center;
        width: calc(100% - $section-padding * 2);
    }
    height: 3em;
    width: 100%;
}

.home-content {
    @include home-grid-item;
}

.home-image {
    align-self: center;

    @include set-with-screen(
        max-height,
        $home-image-height,
        $small-home-image-height,
        $phone-home-image-height
    );

    @include set-with-screen(
        padding-bottom,
        calc(
            100vh - 259px - $home-image-height - 2 * $home-padding - $nav-height
        ),
        calc(
            100vh - 300px - 1em - $small-home-image-height - 2 *
                $small-home-padding - $small-nav-height
        ),
        calc(
            100vh - 300px - $phone-home-image-height - 2 * $phone-home-padding -
                $phone-nav-height
        )
    );
}

.site-title {
    @include set-with-screen(
        padding-top,
        $home-padding,
        $small-home-padding,
        $phone-home-padding
    );
    @include set-with-screen(
        padding-bottom,
        $home-padding,
        $small-home-padding,
        $phone-home-padding
    );

    align-self: center;

    @include set-with-screen(
        font-size,
        $title-size,
        $small-title-size,
        $phone-title-size
    );
    text-align: center;
    line-height: 0.9em;

    width: fit-content;
    @include set-with-screen(word-spacing, auto, 100vw, 100vw);
}

.leader {
    background-color: $primary;
}

.leader-image {
    width: 80px;
    align-self: center;

    path {
        fill: $accent;
    }
}
