@import "theme.scss", "screens.scss";

@mixin home-section {
    display: grid;

    width: 100%;
    @include set-with-screen(
        padding-bottom,
        200px,
        140px,
        60px
    );

    padding-top: 70px;

    img {
        border-radius: $std-rounding;
        width: 100%;
        max-width: 800px;
    }

    div {
        p {
            max-width: 700px;
        }
    }

    svg {
        width: 100px;
        path{
            fill: $accent;
            opacity: 0.44;
        }
    }
}

.home-section-left {
    @include home-section;
    grid-template-columns: 1fr 800px;
}

.home-section-right {
    @include home-section;
    grid-template-columns: 800px 1fr;
}

.home-section-center {
    @include home-section;

    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    * {
        max-width: 680px;
    }
    .post-list {
        max-width: 1000px;
        min-height: 400px;

        @include set-with-screen(
            grid-template-columns,
            repeat(3, 1fr),
            repeat(1, 1fr),
            repeat(1, 1fr)
        );
    }
}

.home-section-double {
    @include home-section;

    @include set-with-screen(
        grid-template-columns,
        repeat(2, 1fr),
        1fr,
        1fr
    );

    row-gap: 60px;
    column-gap: 20px;

    div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            min-height: 100px;
        }
        img {
            max-width: 600px;
        }
    }
}

.newsletter-grid {
    display: grid;
    width: 100%;
    @include set-with-screen(grid-template-columns, 1fr 2fr, 1fr 1fr, 1fr);
}

.home-image {
    align-self: center;

    @include set-with-screen(
        max-height,
        $home-image-height,
        $small-home-image-height,
        $phone-home-image-height
    );

    @include set-with-screen(
        padding-bottom,
        calc(
            100vh - 259px - $home-image-height - 2 * $home-padding - $nav-height
        ),
        calc(
            100vh - 300px - 1em - $small-home-image-height - 2 *
                $small-home-padding - $small-nav-height
        ),
        calc(
            100vh - 300px - $phone-home-image-height - 2 * $phone-home-padding -
                $phone-nav-height
        )
    );
}

.site-title {
    @include set-with-screen(
        padding-top,
        $home-padding,
        $small-home-padding,
        $phone-home-padding
    );
    @include set-with-screen(
        padding-bottom,
        $home-padding,
        $small-home-padding,
        $phone-home-padding
    );

    align-self: center;

    @include set-with-screen(
        font-size,
        $title-size,
        $small-title-size,
        $phone-title-size
    );
    text-align: center;
    line-height: 0.9em;

    width: fit-content;
    @include set-with-screen(word-spacing, auto, 100vw, 100vw);
}

.leader-image {
    width: 80px;
    align-self: center;

    path {
        fill: $accent;
    }
}
