@import "theme.scss", "screens.scss";

@mixin hero-grid-item {
    width: 1fr;
    min-height: 120px;

    padding: $hero-grid-padding;

    .hero-grid-card {
        border-radius: $std-rounding;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid $text;
        div {
            padding: $hero-grid-padding;
        }
    }
}

.hero-grid {
    display: grid;
    width: 100%;

    @include set-with-screen(
        grid-template,
        "image1 content1 image2" "image1 content2 content2"
            "content3 content3 image3",
        "image1 content1" "content2 image2" "image3 content3",
        "image1" "content1" "image2" "content2" "image3" "content3"
    );
}

.hero-content {
    @include hero-grid-item;
}

.hero-image {
    align-self: center;

    @include set-with-screen(
        max-height,
        $hero-image-height,
        $small-hero-image-height,
        $phone-hero-image-height
    );

    @include set-with-screen(
        padding-bottom,
        calc(
            100vh - 259px - $hero-image-height - 2 * $home-hero-padding -
                $nav-height
        ),
        calc(
            100vh - 300px - 1em - $small-hero-image-height - 2 *
                $small-home-hero-padding - $small-nav-height
        ),
        calc(
            100vh - 300px - $phone-hero-image-height - 2 *
                $phone-home-hero-padding - $phone-nav-height
        )
    );
}

.site-title {
    @include set-with-screen(
        padding-top,
        $home-hero-padding,
        $small-home-hero-padding,
        $phone-home-hero-padding
    );
    @include set-with-screen(
        padding-bottom,
        $home-hero-padding,
        $small-home-hero-padding,
        $phone-home-hero-padding
    );

    align-self: center;

    @include set-with-screen(
        font-size,
        $title-size,
        $small-title-size,
        $phone-title-size
    );
    text-align: center;
    line-height: 0.9em;

    width: fit-content;
    @include set-with-screen(word-spacing, auto, 100vw, 100vw);
}

.leader {
    background-color: $primary;
}

.leader-image {
    width: 80px;
    align-self: center;

    path {
        fill: $accent;
    }
}
