$small-screen: 1100px;
$phone-screen: 580px;

@mixin set-with-screen($prop, $normal, $small, $phone) {
    #{$prop}: $normal;
    @media (max-width: $small-screen) {
        #{$prop}: $small;
    }
    @media (max-width: $phone-screen) {
        #{$prop}: $phone;
    }
}
