@import "base.scss", "theme.scss", "screens.scss";
@import "home.scss", "newsletter.scss";

$footer-height: 180px;
$phone-footer-height: 250px;

$nav-padd-in-out: 8px;

.navbar {
    @include grid-bar;
    @include set-with-screen(
        grid-template-columns,
        repeat(6, 1fr),
        repeat(3, 1fr),
        repeat(1, 1fr)
    );

    @include hover-fixed;
    top: 0;

    background-color: $accent;
    padding-top: $nav-padd-in-out;
    padding-bottom: $nav-padd-in-out;
    gap: 0;

    a {
        @include headings {
            color: #fff;
            @include light-title;
            @include set-with-screen(font-size, 1.7em, 1.5em, 1.2em);
        }
        &:hover {
            text-decoration: none;
            @include headings {
                text-decoration: none;
            }
        }
    }

    @include set-with-screen(
        height,
        $nav-height - $nav-padd-in-out * 2,
        $small-nav-height - $nav-padd-in-out * 2,
        $phone-nav-height - $nav-padd-in-out * 2
    );
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    background-color: $content-1;

    margin-top: $pg-bottom-space;
    gap: 0px;
    padding-top: 50px;
    padding-bottom: 30px;

    @include set-with-screen(
        height,
        $footer-height - 80px,
        $footer-height - 80px,
        $phone-footer-height - 80px
    );

    h3 {
        text-decoration: none;
    }
    a h3 {
        text-decoration: underline;
    }

    h3,
    a h3 {
        @include libre-franklin;
        font-weight: 50;
        font-size: 1.1em;
    }

    .horiz-grid {
        @include grid-bar;
        @include set-with-screen(
            grid-template-columns,
            repeat(3, 1fr),
            repeat(3, 1fr),
            repeat(1, 1fr)
        );
        @include set-with-screen(gap, 15px, 15px, 0px);
    }
}

.section {
    display: flex;
    flex-direction: column;

    padding: $section-padding;
    padding-bottom: 0;

    height: fit-content;

    .section-content {
        padding: 10px;
        .title {
            padding-bottom: 30px;
        }
    }
}

body {
    .section:first-of-type {
        @include set-with-screen(
            padding-top,
            calc($nav-height + $section-padding),
            calc($small-nav-height + $section-padding),
            calc($phone-nav-height + $section-padding)
        );
    }
}
