@import "base.scss", "theme.scss", "screens.scss";
@import "home.scss", "newsletter.scss", "contact.scss";

$footer-height: 100px;
$phone-footer-height: 170px;

$nav-padd-in-out: 8px;

.navbar {
    @include grid-bar;
    @include set-with-screen(
        grid-template-columns,
        repeat(6, 1fr),
        repeat(3, 1fr),
        repeat(1, 1fr)
    );

    @include hover-fixed;
    top: 0;

    background-color: $accent;
    height: fit-content;
    padding-top: $nav-padd-in-out;
    padding-bottom: $nav-padd-in-out;
    gap: 0;

    a {
        @include headings {
            color: #fff;
            @include light-title;
            @include set-with-screen(font-size, 1.7em, 1.5em, 1.2em);
        }
        text-decoration: none;
        &:hover {
            text-decoration: none;
            @include headings {
                text-decoration: none;
            }
        }
    }

    .nav-menu {

        @include set-with-screen(
            display,
            none,
            none,
            grid
        );
        width: 40px;
        height: 40px;

        background: transparent;
        border: none;
        * {
            fill: white;
            width: 100%;
            height: 100%;
        }
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    background-color: $content-1;

    gap: 0px;
    padding-top: 50px;
    padding-bottom: 30px;

    @include set-with-screen(
        height,
        $footer-height,
        $footer-height,
        $phone-footer-height
    );

    h3 {
        text-decoration: none;
    }
    a h3 {
        text-decoration: underline;
    }

    h3,
    a h3 {
        @include libre-franklin;
        font-weight: 50;
        font-size: 1.1em;
    }

    .horiz-grid {
        @include grid-bar;
        @include set-with-screen(
            grid-template-columns,
            repeat(3, 1fr),
            repeat(3, 1fr),
            repeat(1, 1fr)
        );
        @include set-with-screen(gap, 15px, 15px, 0px);
        * {
            font-weight: $light-font-weight;
        }
    }
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: $section-padding;
    padding-bottom: 0;

    @include set-with-screen (
        min-height,
        calc(100vh - $nav-height - $footer-height -  110px), // this is to compensate for the margins
        calc(100vh - $nav-height - $footer-height - 110px),
        0
    );

    .section-content {
        padding: 10px;
        .title {
            padding-bottom: 30px;
        }

        iframe {
            width: 100%;
        }

        width: 100%;
        max-width: $newsletter-content-width;
    }

    .full-width {
        max-width: 1400px;
        width: 100%;

        @include headings {
            margin: 10px;
        }
        p, hr {
            margin: 10px;
            width: unset;
        }
    }
}

body {
    .section:first-of-type {
        @include set-with-screen(
            padding-top,
            calc($nav-height + $section-padding),
            calc($nav-height + $section-padding),
            calc($phone-nav-height + $section-padding)
        );
    }
}
