$text: #0f0000;
$bg-0: #fff;
$bg-1: #f7f7f7;
$bg-2: #f0f0f0;

$content-1: #c0b6b8;

$primary: #b86475;
$accent: #de1b4b;

$std-rounding: 15px;

$nav-height: 100px;
$footer-height: 180px;

@mixin libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    src: url("fonts/LibreFranklin-Bold.ttf") format("truetype");
    font-style: normal;
}

@mixin libre-franklin-bold {
    font-weight: 700;
}

@mixin libre-franklin-extra-light {
    font-weight: 100;
}

@mixin franklin-font {
    font-family: "Libre Franklin", sans-serif;
    color: $text;
    font-size: 10px;
}

@mixin headings() {
    h1,
    h2,
    h3,
    h4,
    h5 {
        @content;
    }
}

@mixin grid-scroller() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@mixin grid-scroller__card() {
    width: 1fr;
    height: 1fr;
    background-color: $bg-1;
    border-radius: $std-rounding;
    margin: 10px;
    padding: 20px;
    &:hover {
        @include headings {
            text-decoration: underline;
        }
        background-color: $bg-2;
    }
}

@mixin fullwidth-nopadding {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

@mixin grid-bar {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap: 15px;
}

@mixin hover-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    margin: 0;
}

@mixin light-title {
    font-weight: 80;
    text-decoration: underline;
}

body,
html {
    @include libre-franklin;
    @include fullwidth-nopadding;
    font-weight: 600;
    background-color: $bg-0;
}

.navbar {
    @include grid-bar;
    @include hover-fixed;
    grid-auto-flow: column;
    background-color: $accent;
    height: calc($nav-height - 8px);
    padding-top: 8px;

    a h2 {
        @include light-title;
        font-size: 1.7em;
    }
}

.footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    background-color: $content-1;
    height: calc($footer-height - 50px);
    padding-top: 50px;
    gap: 0px;

    h3 {
        text-decoration: none;
    }

    a h3 {
        text-decoration: underline;
    }

    h3,
    a h3 {
        @include libre-franklin;
        font-weight: 50;
        font-size: 1.1em;
    }
}

.section {
    padding-top: $nav-height;
    min-height: calc(100% - $nav-height - $footer-height);
}

.post-list {
    @include grid-scroller;
}

.post-list__card {
    @include grid-scroller__card;
}

a {
    color: $text;
    text-decoration: none;
}

@include headings {
    margin-top: 5px;
    margin-bottom: 5px;
}

.horiz-grid {
    @include grid-bar;
    grid-auto-flow: column;
}
