$bg-color: #000
$fg-color: #fff
$card-color: #777

@mixin font
    font-family: "Source Serif 4", serif
    font-weight: 450
    font-size: 20px

@mixin grid-scroller__card
    width: 1fr
    height: 1fr
    background-color: $card-color

@mixin grid-scroller
    display: grid
    grid-template-columns: repeat(3, 1fr)

body
    @include font
    background-color: $bg-color
    color: $fg-color

.post-list
    @include grid-scroller

.post-list__card
    @include grid-scroller__card
