@import "fonts.scss";

$text: #0f0000;
$text-size: 18px;
$bg-0: #fff;
$bg-1: #f3f3f3;
$bg-2: #e0e0e0;

$content-1: #e8e8e8;

$accent: #7A0019;
$light-accent: #e2e2e2;

$std-rounding: 5px;
$section-padding: 34px;

$pg-bottom-space: 100px;

$hr-spacing: 25px;

$home-grid-padding: 13px;

$nav-height: 40px;
$phone-nav-height: 85px;

$home-image-height: 300px;
$small-home-image-height: 240px;
$phone-home-image-height: 300px;

$title-size: 7em;
$small-title-size: 5.5em;
$phone-title-size: 5em;

$home-padding: 1vh;
$small-home-padding: 1.6vh;
$phone-home-padding: 3vh;

$officer-card-height: 350px;
$newsletter-content-width: 800px;

$light-font-weight: 200;
