@import "fonts.scss";

$text: #0f0000;
$text-size: 18px;
$bg-0: #fff;
$bg-1: #f7f7f7;
$bg-2: #e0e0e0;

$content-1: #e8e8e8;

$accent: #71334D;
$light-accent: #DECED0;

$std-rounding: 5px;
$section-padding: 34px;

$pg-bottom-space: 100px;

$hr-spacing: 25px;

$home-grid-padding: 13px;

$nav-height: 100px;
$small-nav-height: 125px;
$phone-nav-height: 230px;

$home-image-height: 300px;
$small-home-image-height: 240px;
$phone-home-image-height: 150px;

$title-size: 7em;
$small-title-size: 5.5em;
$phone-title-size: 5em;

$home-padding: 4.5vh;
$small-home-padding: 2vh;
$phone-home-padding: 3vh;
