@import "fonts.scss";

$text: #0f0000;
$bg-0: #fff;
$bg-1: #f7f7f7;
$bg-2: #e0e0e0;

$content-1: #e8e8e8;

$primary: #ff114c;
$accent: #ff114c;

$std-rounding: 15px;
$section-padding: 34px;

$pg-bottom-space: 60px;

$hr-spacing: 25px;

$hero-grid-padding: 13px;

$nav-height: 100px;
$small-nav-height: 125px;
$phone-nav-height: 230px;

$hero-image-height: 300px;
$small-hero-image-height: 240px;
$phone-hero-image-height: 150px;

$title-size: 7em;
$small-title-size: 5.5em;
$phone-title-size: 5em;

$home-hero-padding: 4.5vh;
$small-home-hero-padding: 2vh;
$phone-home-hero-padding: 3vh;
