{% block content %}
<pre>
 ___________________________________
/ Ángel Carbajal-Castañeda          \
|                                   |
| Vice-President                    |
|                                   |
| E-Mail: carba060 AT umn DOT edu   |
| Sourcehut: <a href="https://sr.ht/~ac2">~ac2</a>                   |
| Microsoft Github: <a href="https://github.com/angelacastaneda">angelacastaneda</a> |
\ iframe: <a href="https://umn.page/">blog club</a>                /
 ----------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
</pre>
{% endblock content %}
