{% block content %}
<div class="arbor-officer-style">
    <div class="name">Arbor</div>
    <div class="links-holder">
        <div>
            administrative committee
        </div>
        <div>
            email: <a href="mailto:arbormoss@woodsprite.dev">arbormoss@woodsprite.dev</a>
        </div>
        <div>
            github: <a href="https://github.com/arbormoss">arbormoss</a>
        </div>
        <div>
            sr.ht: <a href="https://sr.ht/~arbormoss/">~arbormoss</a>
        </div>
        <div>
            ln.ht: <a href="https://ln.ht/~arbormoss/">~arbormoss</a>
        </div>
        <div>
            gpg: <a href="/keys/arbormoss.asc">arbormoss.asc</a>
        </div>
    </div>
</div>
{% endblock content %}
