{% block content %}
<div class="arbor-officer-style">
    <div class="name">Arbor</div>
    <div class="content-holder">
      <pre>+--[ED25519 256]--+
|           .o**+*|
|          . E*+B=|
|           o+.+oX|
|         . . o+O.|
|        S +  .==o|
|       . B   oo+=|
|      . + .   +.+|
|       .     . ..|
|              .  |
+----[SHA256]-----+</pre>
        <div class="links-holder">
            <div>
                administrative committee
            </div>
            <div>
                email := <a href="mailto:arbormoss@woodsprite.dev">arbormoss@woodsprite.dev</a>
            </div>
            <div>
                github := <a href="https://github.com/arbormoss">arbormoss</a>
            </div>
            <div>
                sourcehut := <a href="https://sr.ht/~arbormoss/">~arbormoss</a>
            </div>
            <div>
                linkhut := <a href="https://ln.ht/~arbormoss/">~arbormoss</a>
            </div>
            <div>
                gpg := <a href="/keys/arbormoss.asc">arbormoss.asc</a>
            </div>
            <div>
                <-- signing key
            </div>
        </div>
    </div>
</div>
{% endblock content %}
