{% block content %}
<div class="arbor-officer-style">
    <div class="name">Arbor</div>
    <div class="links-holder">
        <div>
            administrative committee
        </div>
        <div>
            email := arbormoss@woodsprite.dev
        </div>
        <div>
            github := <a href="https://github.com/arbormoss">arbormoss</a>
        </div>
        <div>
            sourcehut := <a href="https://sr.ht/~arbormoss/">~arbormoss</a>
        </div>
        <div>
            linkhut := <a href="https://ln.ht/~arbormoss/">~arbormoss</a>
        </div>
    </div>
</div>
{% endblock content %}
