{% macro eventlisting(events) %}
    <div class="timeline">
    {% if events | length %}
        <div class="line">
            <div class="timeline-path"></div>
            <div class="timeline-item--offset"></div>

            {% set skipped_past_events = 0 %}
            {% for event in events | reverse %}
                {% if event.taxonomies.tags is containing("no-timeline-display") %}
                    {% set skipped_past_events = skipped_past_events + 1 %}
                {% else %}
                    <div class="timeline-item timeline-item--{% if (loop.index is odd) != (skipped_past_events is odd) %}odd{% else %}even{% endif %}">
                        <div class="timeline-item-node"></div>
                        <a class="panel nocolorlink {% if event.taxonomies.tags is containing("display-small") %}panel--mini{% else %}panel--bold{% endif %}"
    					        href="{% if event.extra.link %}{{ event.extra.link | safe }}{% else %}{{ event.permalink | safe }}{% endif %}">
                            <h4>{{ event.title }}</h4>
                            <small class="event-subtitle">
    							{% if event.extra.altdatetext %}{{ event.extra.altdatetext }}{% else %}{{ event.date | date(format="%B %e, %Y") }}{% if event.extra.ztime %}&nbsp;&nbsp;&nbsp;{{ event.extra.ztime }}{% endif %}{% endif %}
                            	<span class="event-icons">
                                	{% if event.taxonomies.tags is containing("food") %}
                                    	<i class="fa fa-fw fa-cutlery" title="Food Provided"></i>
                                	{% endif %}
                                	{% if event.taxonomies.tags is containing("competition") %}
                                    	<i class="fa fa-fw fa-trophy" title="Competition"></i>
                                	{% endif %}
                                	{% if event.taxonomies.tags is containing("booth") %}
                                    	<i class="fa fa-fw fa-handshake-o" title="Booth"></i>
                                	{% endif %}
                            	</span>
                            	{% if event.taxonomies.tags is containing("display-small") %}
                            		<small class="panel-ctlm">
                                		<i class="fa fa-fw fa-external-link"></i>
                            		</small>
                            	{% endif %}
    						</small>
                            {% if not event.taxonomies.tags is containing("display-small") %}
                                <div>
                                    {% if event.summary %}{{ event.summary | safe }}{% endif %}
                                </div>
                            	<small class="panel-ctlm">
                                	<i>Click to learn more</i>
                            	</small>
                            {% endif %}
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <p>No events to display!</p>
    {% endif %}
    </div>
{% endmacro eventlisting %}
