@font-face {
    font-family: "Libre Franklin";
    src: url("/fonts/LibreFranklin-VariableFont_wght.ttf") format('truetype');
}

* {
    font-family: "Libre Franklin", sans-serif !important;
    font-style: normal !important;
}

.bg-yellow-light {
    background-color: #7A0019 !important;
    color: #f3f3f3 !important;
    padding: 30px !important;
    border-radius: 5px !important;
}

a {
    color: #0f0000 !important;
    text-decoration: underline !important;
}
a:hover {
    text-decoration: none !important;
}
