<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>ACM UMN</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no"
        />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ get_url(path='/') }}">
                <h2>HOME</h2>
            </a>
            <a href="{{ get_url(path='@/newsletters/_index.md') }}">
                <h2>NEWSLETTER</h2>
            </a>
            <a href="{{ get_url(path='/') }}">
                <h2>ABOUT US</h2>
            </a>
            <a href="{{ get_url(path='/') }}">
                <h2>CONTACT</h2>
            </a>
            <a href="{{ get_url(path='/') }}">
                <h2>MEMBERSHIP</h2>
            </a>
            <a href="{{ get_url(path='/') }}">
                <h2>HISTORY</h2>
            </a>
        </div>
        <section class="section">
            {% block content %} {% endblock content %}
        </section>
        <div class="footer">
            <h3>GET IN TOUCH</h3>
            <div class="horiz-grid">
                <a href="{{ get_url(path='/') }}">
                    <h3>acm@umn.edu</h3>
                </a>
                <h3>2-204 Keller Hall</h3>
                <a href="{{ get_url(path='/') }}">
                    <h3>mailing list</h3>
                </a>
            </div>
            <h3>Copyright © 2020-2025 ACM UMN</h3>
        </div>
    </body>
</html>
