<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="description" content="University of Minnesota's ACM Student Chapter">
        <title>ACM UMN</title>
        <link rel="stylesheet" href="/style.css" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <script src="/scripts/jquery-3.7.1.slim.min.js"></script>
        <script type="text/javascript" src="/scripts/toggle-menu.js"></script>
    </head>

    <body>
        <div class="navbar">

            <button class="nav-menu" onclick="toggleMenu()" >
                <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m22 16.75c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75zm0-5c0-.414-.336-.75-.75-.75h-18.5c-.414 0-.75.336-.75.75s.336.75.75.75h18.5c.414 0 .75-.336.75-.75z" fill-rule="nonzero"/></svg>
            </button>

            <a href="{{ get_url(path='/') }}">
                <h2>HOME</h2>
            </a>
            <a href="{{ get_url(path='@/newsletter/_index.md') }}">
                <h2>NEWSLETTER</h2>
            </a>
            <a href="{{ get_url(path='@/about-us.md') }}">
                <h2>ABOUT US</h2>
            </a>
            <a href="{{ get_url(path='@/contact.md') }}">
                <h2>CONTACT</h2>
            </a>
            <a href="{{ get_url(path='@/membership.md') }}">
                <h2>MEMBERSHIP</h2>
            </a>
            <a href="{{ get_url(path='@/events.md') }}">
                <h2>EVENTS</h2>
            </a>
        </div>
        {% block content %} {% endblock content %}
        <div class="footer">
            <h2>GET IN TOUCH</h2>
            <div class="horiz-grid">
                <a href="mailto:acm@umn.edu">acm@umn.edu</a>
                <h3>2-204 Keller Hall</h3>
                <a href="{{ get_url(path='@/newsletter/_index.md') }}">mailing list</a>
            </div>
            <h3>Copyright (c) 1972-{{ now() | date(format="%Y") }} ACM UMN</h3>
        </div>
    </body>
</html>
