{% extends "base.html" %} {% block content %}

<section role="main" class="section">
    <div class="section-content">
        {{ page.content | safe }}
	<iframe src="https://calendar.google.com/calendar/embed?src=acmumn%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <p class="small-text">
            Alternate Google Calendar Link:
            <a href="https://calendar.google.com/calendar/embed?src=acmumn%40gmail.com&ctz=America%2FChicago">
                ACM Events 2026
            </a>
        </p>
        <div class="spacer" />
    </div>
</section>
{% endblock content %}
