{% extends "base.html" %} {% block content %}

<section role="main" class="section">
    <div class="section-content">
        {{ page.content | safe }}
        <iframe title="Google Calendar" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;ctz=America%2FChicago&amp;mode=AGENDA&amp;showPrint=0&amp;showTitle=0&amp;showCalendars=0&amp;src=Y181NDJkNmViZTRkY2MxYjk5NGI4NzA3NjAwYjg4MTRiYzc1Mzk0Nzc0ZWExOTM4MDFjM2EzOTI5ZjNiNzAzMzAzQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23d50000" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <p class="small-text">
            Alternate Google Calendar Link:
            <a href="https://calendar.google.com/calendar/embed?src=c_542d6ebe4dcc1b994b8707600b8814bc75394774ea193801c3a3929f3b703303%40group.calendar.google.com&ctz=America%2FChicago">
                ACM Events 2026
            </a>
        </p>
        <div class="spacer" />
    </div>
</section>
{% endblock content %}
