{% extends "base.html" %} {% block content %}

<section role="main" class="section">
    <div class="section-content">
        {{ page.content | safe }}
    </div>
    <div class="post-list section-content contact-card-list">
        <!---
        <div class="post-list__card officer-card">
            <img src="/officer-cards/example-officer.png">
        </div>
        -->

        <!-- Add new officer cards here -->
        <div class="post-list__card officer-card">
            <img alt="Alice officer card. Name is Alice. Majors in Chemistry. Interested in communications and protocols." src="/officer-cards/alice.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="Jason oficer card. Treasurer. Computer Science Major. Hates bloat and is a member of luddite club, blog club and blog club book club. Speaks fluent $€£¥₽₹." src="/officer-cards/jason.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="June officer card. Works on a linux distro. Loves messing with computers. ACM UMN sysadmin. Likes linguistics, blub blub blub(fish noises)."src="/officer-cards/june.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="Arbor officer card. https://sr.ht/~arbormoss. https://ln.ht/~arbormoss. https://woodsprite.dev." src="/officer-cards/arbor.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="欢自在菩萨 民以食为天. Translation left as an exercise for the reader." src="/officer-cards/sandlewood.jpeg">
        </div>
    </div>
    <div class="spacer" />
</section>
{% endblock content %}
