{% extends "base.html" %} {% block content %}

<section role="main" class="section">
    <div class="section-content">
        {{ page.content | safe }}
    </div>
    <div class="post-list section-content contact-card-list">
        <!---
        <div class="post-list__card officer-card">
            <img src="/officer-cards/example-officer.png">
        </div>
        -->

        <!-- Add new officer cards here -->
        <div class="post-list__card officer-card">
            <img alt="Alice officer card: name is Alice, Major in Chemistry, Interest in communications and protocols" src="/officer-cards/alice.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="Jason oficer card: Treasurer, Computer Science Major, hates bloat and a member of luddite club,blog club and blog club book club, speaks fluent $€£¥₽₹" src="/officer-cards/jason.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="June officer card: works on a linux distro, loves messing with computers, ACM sysadmin, likes linguistics, blub blub blub(fish noises) "src="/officer-cards/june.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="Arbor officer card: sr.ht/~arbormoss ln.ht/~arbormoss woodsprite.dev" src="/officer-cards/arbor.jpeg">
        </div>
        <div class="post-list__card officer-card">
            <img alt="欢自在菩萨 民以食为天, Translation left as an exercise for the reader" src="/officer-cards/sandlewood.jpeg">
        </div>
    </div>
    <div class="spacer" />
</section>
{% endblock content %}
