{% extends "base.html" %} {% block content %}

<section class="section">
    <div class="full-width">
        {{ page.content | safe }}
    </div>
    <div class="post-list full-width contact-card-list">
        <!--
        <div class="post-list__card officer-card">
            {% include "officer-cards/_example.html" %}
        </div>
        -->

        <!-- Add new officer cards here -->
        <div class="officer-card">
            {% include "officer-cards/angel.html" %}
        </div>

        <div class="officer-card">
            {% include "officer-cards/arbor.html" %}
        </div>
    </div>
    <div class="spacer" />
</section>
{% endblock content %}
