{% extends "page.html" %}
{% import "macros/events.html" as events %}
{% import "layout.html" as layout %}

{% block pagecontent %}
<h1>Events</h1>
<p><b>Open Houses</b> are 16:00-18:00 on Wednesdays in <a href="/room/">our club room, Keller 2-204</a>. This is a
  low-key general-meeting-like time that is a great opportunity for people interested in learning more and joining to
  drop by.</p>
<p><b>Officer meetings</b> are normally held every Sunday at 5:30pm in our club room, except during fall, winter, and
  spring break. These are open to the public and you are welcome to attend, but they may not be very exciting. If you
  wish to attend a meeting it may be prudent to check that the meeting has not been canceled.</p>
<p>Useful links:</p>
<ul>
  <li>Past meeting minutes are <a href="/meeting-minutes">here</a>.</li>
  <li>Previous events can be found <a href="/old-events">here</a>.</li>
  <li>Previous event <b>finalists</b> can be found <a href="/events/finalists">here</a>.</li>
</ul>
<p>
  <i class="fa fa-fw fa-cutlery" title="Food Provided"></i> = Food will be provided,
  <i class="fa fa-fw fa-handshake-o" title="Booth"></i> = We're running a booth (come say hi!),
  <i class="fa fa-fw fa-trophy" title="Competition"></i> = This is a competition (with prizes!)
</p>
<br />
<p>
  {{ events::eventlisting(events=section.pages | reverse) }}
</p>
<br />
<br />
<p style="text-align: center;">
  <i>More events being planned!</i><br />
  And don't forget, the best way to get involved is to <a href="/room/">drop by our room</a>!
</p>
{% endblock %}