{% extends "page.html" %}
{% import "macros/events.html" as events %}
{% import "layout.html" as layout %}

{% block pagecontent %}
    <h1>Events</h1>
    <p><b>Open Houses</b> and <b>Officer meetings</b> are both indefinitely suspended. We might do structured on-line alternatives, join our Discord to raise administrative issues or connect with our community.</p>
    <p>Useful links:</p>
	<ul>
        <li>Past meeting minutes are <a href="/meeting-minutes">here</a>.</li>
        <li>Previous events can be found <a href="/old-events">here</a>.</li>
        <li>Previous event <b>finalists</b> can be found <a href="/events/finalists">here</a>.</li>
    </ul>
    <p>
        <i class="fa fa-fw fa-cutlery" title="Food Provided"></i> = Food will be provided,
        <i class="fa fa-fw fa-handshake-o" title="Booth"></i> = We're running a booth (come say hi!),
        <i class="fa fa-fw fa-trophy" title="Competition"></i> = This is a competition (with prizes!)
    </p>
    <br />
    <p>
        {{ events::eventlisting(events=section.pages) }}
    </p>
    <br/>
    <br/>
    <p style="text-align: center;">
        <i>More events being planned!</i><br/>
        And don't forget, the best way to get involved is to <a href="/room/">drop by our room</a>!
    </p>
{% endblock %}
