{% extends "page.html" %}
{% import "macros/events.html" as events %}
{% import "layout.html" as layout %}

{% block pagecontent %}
    <h1>Events</h1>
	<p><b>Officer meetings</b> are normally held every Monday at 19:00 in Keller 2-204. These are open to the public and you are welcome to attend, but they may not be very exciting. If you wish to attend it may be prudent to check that the meeting has not been cancelled. Past meeting minutes are <a href="/meeting-minutes">here</a>.</p>
	<p>Previous events can be found <a href="/old-events">here</a>.</p>
    <p>
        <i class="fa fa-fw fa-cutlery" title="Food Provided"></i> = Food will be provided,
        <i class="fa fa-fw fa-handshake-o" title="Booth"></i> = We're running a booth (come say hi!),
        <i class="fa fa-fw fa-trophy" title="Competition"></i> = This is a competition (with prizes!)
    </p>
    <br />
    <p>
        {{ events::eventlisting(events=section.pages) }}
    </p>
{% endblock %}
