{% extends "base.html" %} {% block content %}
<section class="section">
    <h1 class="site-title">ACM UMN</h1>
    <img class="hero-image" src="/images/esp32.png" />
    <svg
        class="leader-image"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="m11.998 2c5.517 0 9.997 4.48 9.997 9.998 0 5.517-4.48 9.997-9.997 9.997-5.518 0-9.998-4.48-9.998-9.997 0-5.518 4.48-9.998 9.998-9.998zm4.843 8.211c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291z"
            fill-rule="nonzero"
        />
    </svg>
</section>
<section class="section focus">
    <div class="hero-grid">
        <div class="hero-content" style="grid-area: image1">
            <image class="hero-grid-card" src="images/laptop.jpeg" />
        </div>
        <div class="hero-content" style="grid-area: image2">
            <image class="hero-grid-card" src="images/rainbow.jpeg" />
        </div>
        <div class="hero-content" style="grid-area: image3">
            <image class="hero-grid-card" src="images/whiteboard.jpeg" />
        </div>
        <div class="hero-content" style="grid-area: content1">
            <div class="hero-grid-card">
                <div>
                    <h2>Join Our Newsletter!</h2>
                    <p>
                        Server Closet ... Projects ... Room ... Quisque faucibus
                        ex sapien vitae pellentesque sem placerat. In id cursus
                        mi pretium tellus duis convallis. Tempus leo eu aenean
                        sed diam urna tempor.Lorem ipsum dolor sit amet
                        consectetur adipiscing elit. Quisque faucibus ex sapien
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-content" style="grid-area: content2">
            <div class="hero-grid-card">
                <div>
                    <h3>Computing Machinery</h3>
                    <p>
                        Association of Computing Machinery ... Tech ... CS ...
                        In id cursus mi pretium tellus duis convallis. Tempus
                        leo eu aenean sed diam urna tempor.Lorem ipsum dolor sit
                        amet consectetur adipiscing elit. Quisque faucibus ex
                        sapien vitae pellentesque sem placerat. In id cursus mi
                        pretium tellus duis convallis. Tempus leo eu aenean sed
                        diam urna tempor. Pulvinar vivamus fringilla lacus nec
                        metus bibendum egestas. Iaculis massa nisl malesuada
                        lacinia integer nunc posuere. Ut hendrerit semper vel
                        class aptent taciti sociosqu. Ad litora torquent per
                    </p>
                </div>
            </div>
        </div>
        <div class="hero-content" style="grid-area: content3">
            <div class="hero-grid-card">
                <div>
                    <h3>A Place to Tinker</h3>
                    <p>
                        Server Closet ... Projects ... Room ... Quisque faucibus
                        ex sapien vitae pellentesque sem placerat. In id cursus
                        mi pretium tellus duis convallis. Tempus leo eu aenean
                        urna tempor. Pulvinar vivamus fringilla lacus nec metus
                        bibendum egestas. Iaculis massa nisl malesuada lacinia
                        integer nunc posuere. Ut hendrerit semper vel class
                        aptent taciti sociosqu. Ad litora torquent per conubia
                        nostra inceptos himenaeos. Lorem ipsum dolor sit amet
                        consectetur adipiscing elit. Quisque faucibus ex sapien
                        bibendum egestas. Iaculis massa nisl malesuada lacinia
                        nostra inceptos himenaeos. Pulvinar vivamus fringilla
                        lacus nec metus bibendum egestas. Iaculis massa nisl
                        malesuada lacinia integer nunc posuere. Ut hendrerit
                        semper vel class aptent taciti sociosqu. Ad litora
                        torquent per conubia nostra inceptos himenaeos. Lorem
                        ipsum dolor sit amet consectetur adipiscing elit.
                        Quisque faucibus ex sapien bibendum egestas. Iaculis
                        massa nisl malesuada lacinia nostra inceptos himenaeos.
                        Pulvinar vivamus fringilla lacus nec metus bibendum
                        egestas. Iaculis massa nisl malesuada lacinia integer
                        nunc posuere. Ut hendrerit semper vel class aptent
                        taciti sociosqu. Ad litora torquent per conubia nostra
                        inceptos himenaeos. Lorem ipsum dolor sit amet
                        consectetur adipiscing elit. Quisque faucibus ex sapien
                        bibendum egestas. Iaculis massa nisl malesuada lacinia
                        nostra inceptos himenaeos. Pulvinar vivamus fringilla
                        lacus nec metus bibendum egestas. Iaculis massa nisl
                        malesuada lacinia integer nunc posuere. Ut hendrerit
                        semper vel class aptent taciti sociosqu. Ad litora
                        torquent per conubia nostra inceptos himenaeos. Lorem
                        ipsum dolor sit amet consectetur adipiscing elit.
                        Quisque faucibus ex sapien bibendum egestas. Iaculis
                        massa nisl malesuada lacinia nostra inceptos himenaeos.
                        Pulvinar vivamus fringilla lacus nec metus bibendum
                        egestas. Iaculis massa nisl malesuada lacinia integer
                        nunc posuere. Ut hendrerit semper vel class aptent
                        taciti sociosqu. Ad litora torquent per conubia nostra
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer" />
</section>
{% endblock content %}
