{% import "layout.html" as layout %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        @font-face {
            font-family: "Open Sans";
            font-optical-sizing: auto;
            font-display: swap; 
            src:
                local("Open Sans"),
                url("/fonts/OpenSans-VariableFont.woff2") format("woff2"),
                url("/fonts/OpenSans-VariableFont.ttf") format("truetype");
        }

        body {
            font-family: "Open Sans", sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ACM UMN Student Chapter Website"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="/acm-logo.png" />
    {% block header %} {% endblock %}
    <title>{% if section.title %}{{ section.title }}{% elif page.title %}{{ page.title }} - {{ config.title }}{% else %}{{ config.title }}{% endif %}</title>
</head>

<body>
    <header>
        {{ layout::navbar(config=config) }}
    </header>
    <main style="min-height: 50vh;">
        {% block content %}{% endblock %}
    </main>
    <footer class="site-footer site-footer--sticky">
        {{ layout::footer(config=config) }}
    </footer>
</body>

</html>
