{% extends "base.html" %} {% block content %}
<section role="main" class="section">
    <h1 class="site-title">ACM UMN</h1>
    {% set logo = load_data(path="images/acm-logo.svg") %}
    {{ logo | safe }}
    <svg
        class="leader-image"
        clip-rule="evenodd"
        fill-rule="evenodd"
        stroke-linejoin="round"
        stroke-miterlimit="2"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="m11.998 2c5.517 0 9.997 4.48 9.997 9.998 0 5.517-4.48 9.997-9.997 9.997-5.518 0-9.998-4.48-9.998-9.997 0-5.518 4.48-9.998 9.998-9.998zm4.843 8.211c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291z"
            fill-rule="nonzero"
        />
    </svg>
    <div class="spacer" ></div>
    <div class="home-section-center">
        <h1>Join our Newsletter</h1>
        <p>
            Keep up to date with the latest events and updates from ACM UMN! Either <a href="{{ get_url(path='@/join-newsletter.md') }}">sign up</a> or check out the <a href="{{ get_url(path='@/newsletter/_index.md') }}">archive</a>.
        </p>
        <div class="post-list">
            {% set section = get_section(path = "newsletter/_index.md" ) %}
            {% for page in section.pages | sort(attribute="date") | reverse | slice(start=0, end=3) %}
            <a href="{{ page.permalink | safe }}" class="post-list__card">
                <h1 style="font-size: 1.5em;">{{ page.title }}</h1>
                <i>{{ page.date }}</i><br />
                <br />
                {{ page.description }}
            </a>
            {% endfor %}
        </div>
        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m16.5 11.995c0-1.242 1.008-2.25 2.25-2.25s2.25 1.008 2.25 2.25-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25zm-6.75 0c0-1.242 1.008-2.25 2.25-2.25s2.25 1.008 2.25 2.25-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25zm-6.75 0c0-1.242 1.008-2.25 2.25-2.25s2.25 1.008 2.25 2.25-1.008 2.25-2.25 2.25-2.25-1.008-2.25-2.25z"/></svg>
    </div>
    <div class="home-section-double">
        <div>
            <h1>Technology</h1>
            <p>
                We are big fans of old laptops and self-hosting. Our club also has it's own server closet, where we host virtual machines for <a href="{{ get_url(path='@/membership.md') }}">members</a>.
            </p>
            <img alt="rainbow ribbon cables" src="images/rainbow.jpeg" />
        </div>
        <div>
            <h1>Workshops</h1>
            <p>
                ACM UMN hosts workshops to teach important fundamentals like Git and Unix, as well as more free-form events like drawing night. The events are open to everyone, including students of other majors. Go check out our <a href="{{ get_url(path='@/events.md') }}">events page</a> to learn more!
            </p>
            <img alt="A laptop running debian with fastfetch in the terminal" src="images/laptop.jpeg" />
        </div>
    </div>
    <div class="home-section-center">
        <h1>Stop By!</h1>
        <p>
            Our club room is in <a href="https://campusmaps.umn.edu/kenneth-h-keller-hall">Keller 2-204</a>. Feel free to stop by during our weekly <a href="{{ get_url(path='@/events.md') }}">open house</a> or any time the door is open!
        </p>
    </div>
</section>
{% endblock content %}
