{% macro navbar(config) %}
    <div class="container">
        <a href="/" class="title nocolorlink">{{ config.title }}</a>

        <div id="nav">
            {% for link in config.extra.nav_links %}
                <a href="{{ link.url | safe }}" class="link">{{ link.text | replace(from=" ", to="&nbsp;") }}</a>
            {% endfor %}
        </div>
    </div>

    <br/>
{% endmacro navbar %}

{% macro footer(config) %}
    <div class="container">
        <div class="row">
            <div class="col-6 hidden-sm">
                <h5 class="footer-heading">ACM UMN</h5>
                <p>
                    We work to promote knowledge and greater interest in the science, design, development, language, management, and applications
                    of modern computing on the Twin Cities campus and around the Twin Cities area.
                </p>
            </div>
            <div class="col-3 hidden-sm">
                <h5 class="footer-heading">Useful Links</h5>
                <ul>
                    <li><a href="https://www.acm.org/">ACM National</a></li>
                    <li><a href="https://www.cs.umn.edu/">CS&amp;E Department</a></li>
                    <li><a href="https://z.umn.edu/suggest_acm">Suggestion Box</a></li>
                    <li><a href="/tos">Terms of Service</a></li>
                </ul>
            </div>
            <div class="col-3" id="getintouch">
                <h5 class="footer-heading">Get&nbsp;in&nbsp;touch with&nbsp;us</h5>
                <p id="links">
                    <a href="{{config.base_url}}rss.xml" target="_blank" rel="noopener" class="nocolorlink">
                        <i class="fa fa-fw fa-rss"></i>
                    </a>
                    <a href="mailto:acm@umn.edu" target="_blank" rel="noopener" class="nocolorlink">
                        <i class="fa fa-fw fa-envelope"></i>
                    </a>
                    <a href="https://facebook.com/acmuofmn" target="_blank" rel="noopener" class="nocolorlink">
                        <i class="fa fa-fw fa-facebook-square"></i>
                    </a>
                    <a href="https://twitter.com/acmumn" target="_blank" rel="noopener" class="nocolorlink">
                        <i class="fa fa-fw fa-twitter"></i>
                    </a>
                    <a href="https://github.com/acmumn" target="_blank" rel="noopener" class="nocolorlink">
                        <i class="fa fa-fw fa-github"></i>
                    </a>
                    <br/>
                    <img src="/nojs.svg" alt="No javascript used in the production of this website" title="No javascript used in the production of this website" id="no-js-badge">
                </p>
                
            </div>
        </div>
        <div class="row footer-copyright">
            <p>Copyright &copy; 2020-2024 ACM UMN.</p>
        </div>
    </div>
{% endmacro navbar %}
