{% extends "base.html" %} {% block content %}

<section class="section">
    <div class="full-width">
        <h1 class="title">{{ section.title }}</h1>
        {{ section.content | safe }}
    </div>
    <div class="post-list">
        {% for page in section.pages | sort(attribute="date") | reverse %}
        <a href="{{ page.permalink | safe }}" class="post-list__card">
            <h3>{{ page.title }}</h3>
            <i>{{ page.date }}</i><br />
            <br />
            {{ page.description }}
        </a>
        {% endfor %}
    </div>

    <div class="spacer" />
</section>
{% endblock content %}
