{% extends "page.html" %}
{% import "layout.html" as layout %}

{% block pagecontent %}
    <h1 style="margin-bottom: 0;">{{ page.title }}</h1>
    <h3>
        {% if page.extra.altdatetext %}{{ page.extra.altdatetext }}{% else %}{{ page.date | date(format="%B %e, %Y") }}
        {% if page.extra.ztime %} &mdash; {{ page.extra.ztime }}{% endif %}{% endif %}
    </h3>
    <small style="display: block; margin-bottom: 20px;">
        (Posted
        {% if page.extra.author %}by {{ page.extra.author }}{% endif %}
        on {{ page.date }})
    </small>
    {{ page.content | safe }}
	{% if page.extra.link %}
		<p>Visit <a href="{{ page.extra.link }}">here</a> for more info.</p>
	{% endif %}
{% endblock %}
