name: Nix Flake Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  nix-flake-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Nix flake
        uses: DeterminateSystems/flake-checker-action@v8
